.image-size {
    height: 100px;
    width: auto;
}

.background-header {
    background-color: #223865
}

.background-header2 {
    background-color: #d19800
}

.border-class {
    border-bottom: 5px solid #d19800;
}

.text-color {
    color: #f8f8f8;
}