<div class="container-fluid d-flex flex-wrap justify-content-around align-items-center background-header2 border-class ">
    <img src="https://firebasestorage.googleapis.com/v0/b/fir-ios-6dbe4.appspot.com/o/sep_logo2.png?alt=media&token=0af67f5e-5665-4e34-9c81-ea418471664a" class="img-fluid float-left image-size" alt="Responsive image">
    <h2 class="text-color text-center">Seguimiento a egresados del Instituto tecnológico de Mérida</h2>
    <img src="https://firebasestorage.googleapis.com/v0/b/fir-ios-6dbe4.appspot.com/o/tec.png?alt=media&token=64dd0e06-5815-4d26-b620-4bd8e7b22f3c" class="img-fluid float-right image-size" alt="Responsive image">
</div>
<div class="background-header" style="height: 30px;">

</div>
<div class="container-fluid d-flex flex-wrap justify-content-center background-header">
    <br>
    <br>
    <br>

    <app-formulario></app-formulario>
    <br>
    <br>
    <br>
</div>